<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentalMath</title>
  <link rel="icon" type="image/x-icon" href="/static/images/logo-fav.ico">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="heading">
    <div><h1>Welcome to&nbsp;&nbsp; M<sup>2</sup></h1></div>
  <div><h2>Improve your abilities<h2/></div>
  </div>

  <div id="outer-form">
      <!-- <p>{{time}}</p> -->
    <div id="form">
      <form action="/result" method="get">
        {% if num1 %}
        <p id="que">{{num1}} {{operator}} {{num2}}</p>
          <input type="text" name="val" placeholder="" size="40" autofocus />
          <input type="submit" id="submit" value="Submit"/>
        {% endif %}
      </form>
    </div>
    <div class="result">
      {% if score==10 %}
      <p id="score">You scored: {{count}}/{{score}}</p>
      <p id="reload">Reload to continue.</p>
      {% endif %}
    </div>
  </div>


  <script src="/static/behavior/index.js"></script>
</body>
</html>